body { 
  margin: 0;
  min-height: 100vh;
  background: rgba(177, 166, 166, 0.774) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  
}

/* Zera margens e altura do body */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container para centralizar tudo */
.container {
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
    height: 100vh;           /* 100% da altura da tela */
}

/* Estilo básico do formulário */
.login-form {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}
