* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }




body { 
font-family: 'Poppins', Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
  
}

/* Zera margens e altura do body */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container para centralizar tudo */
.container {
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
    height: 100vh;           /* 100% da altura da tela */
}

/* Estilo básico do formulário */
.login-form {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}

.h1{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0,
    "SHLN" 31.2;
    position: fixed;   /* fixa no topo da página */
    top: 0;            /* colado no topo */
    left: 0;
    width: 100%;       /* ocupa toda a largura */
    background-color: #ecec0f; /* fundo branco (opcional) */
    text-align: center; /* centraliza o texto */
    padding: 15px 0;   /* espaço acima e abaixo */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* sombra sutil (opcional) */
    z-index: 1000;
}
